# ======================== 
#Arquivos do Eclipse 
#========================
/.classpath 
/.project 
/.settings/ 
/.apt_generated/ 
/.factorypath
# ======================== 
#Arquivos do Maven 
#========================
target/ 
pom.xml.tag 
pom.xml.releaseBackup 
pom.xml.versionsBackup 
pom.xml.next 
release.properties 
dependency-reduced-pom.xml 
buildNumber.properties 
.mvn/timing.properties
# ======================== 
#Arquivos Java compilados 
# ========================
*.class
# ======================== 
#Arquivos do sistema 
#========================
*.log 
*.tmp 
*.bak 
*.swp 
*~ .DS_Store 
Thumbs.db
# ======================== 
#Arquivos do Git 
#========================
*.orig
# ======================== 
#IDEs (geral) 
#========================
.idea/ 
*.iml 
*.ipr 
*.iws 
.vscode/
# ======================== 
#Multi-módulos Maven 
#========================
**/target/ 
**/bin/
