<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Comércio eletrônico">
    <!-- meta name="_csrf" th:content="${_csrf.token}"/ -->
    <!-- meta name="_csrf_header" th:content="${_csrf.headerName}"/ -->

    <title>[[${pageTitle}]]</title>

    <!-- th:atributo para garantir que o caminho será resolvido corretamente pelo Spring -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</head>
<body>
<header class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-black navbar-dark ">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/logo_small.png}" alt="Logo da Empresa">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categorias}">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/marcas}">Marcas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/produtos}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clientes}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/envio}">Envio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pedidos}">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/relatorios}">Relatorios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/artigos}">Artigos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/menus}">Menus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/configuracoes}">Configurações</a>
                </li>
                <li class="nav-item">
                    <img th:src="@{/img/logo_small.png}" alt="Perfil do Usuario">
                    <a class="nav-link" th:href="@{/}"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>

    <div>
        <h2> Gerenciar Usuarios | [[${pageTitle}]]</h2>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post" onsubmit="return checkEmailUnico(this)"
                      class="card shadow-sm border-0" >

                    <input type="hidden" th:field="*{id}"/>

                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Cadastro de Usuário</h5>
                    </div>

                    <div class="card-body row g-3">

                        <div class="col-md-6">
                            <label class="form-label" for="nome">Nome</label>
                            <input th:field="*{primeiroNome}" class="form-control" type="text" id="nome"
                                   placeholder="Nome">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" for="sobrenome">Sobrenome</label>
                            <input th:field="*{ultimoNome}" class="form-control" type="text" id="sobrenome"
                                   placeholder="Sobrenome">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" for="email">Email</label>
                            <input th:field="*{email}" class="form-control" type="email" id="email"
                                   placeholder="Email" minlength="7" maxlength="128">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" for="senha">Senha</label>
                            <input th:if="${usuario.id == null}" th:field="*{senha}" class="form-control" type="password" id="senha"
                                   placeholder="Senha" minlength="0" maxlength="20" required>

                            <input th:if="${usuario.id != null}" th:field="*{senha}" class="form-control" type="password"
                                   minlength="0" maxlength="20">
                        </div>

                        <div class="col-12 mt-3">
                            <label class="form-label d-block mb-2">Papel - Função</label>
                            <div class="row">
                                <th:block th:each="papel, iterStat : ${papel_perfilList}">
                                    <div class="col-md-6">
                                        <div class="form-check mb-2">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   th:field="*{papelPerfils}"
                                                   th:value="${papel.id}"
                                                   th:id="'papel' + ${iterStat.index}"/>

                                            <label class="form-check-label" th:for="'papel' + ${iterStat.index}">
                                                <span th:text="${papel.nome}"></span>
                                                <br>
                                                <small class="text-muted" th:text="${papel.descricao}"></small>
                                            </label>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" for="senha">Ativo:</label>
                            <input class="form-check-input" th:field="*{ativo}" type="checkbox">
                        </div>

                        <div class="col-12 text-center mt-4">
                            <button type="submit" class="btn btn-primary px-4 me-2">Salvar</button>
                            <button type="button" class="btn btn-secondary px-4" id="btnCancelar">Cancelar</button>
                        </div>
                    </div>
                </form>
                <div class="modal fade text-center" id="modalDialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modalTitle"></h4>
                                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <span id="modalBody"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-center mt-4">
    <p>&copy; 2025 Altiva Painel de Controle - Sua conquista, nosso orgulho.</p>
</footer>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancelar").on("click",function () {
            window.location = "[[@{/usuarios}]]";
        });
    });

    // Função para verificar e-mail
    function checkEmailUnico(form) {
        const url = "[[@{/usuarios/check-email}]]";
        const userEmail = $("#email").val();
        const usuarioId = $("#id").val();
        const csrfValor = $("input[name='_csrf']").val();

        const params = { id: usuarioId, email: userEmail, _csrf: csrfValor };

        $.post(url, params, function (response) {
            if (response == "OK"){
                form.submit();
            }else if (response == "Duplicado") {
                mostrarModalDialog("Aviso", "Há outro usuário com o e-mail " + userEmail);
            }else{
                mostrarModalDialog("Erro", "Resposta desconhecida do servidor");
            }
        }).fail(function (){
            mostrarModalDialog("Erro","Não foi possível conectar ao servidor")
        });
        return false; // Evita o envio normal do formulário
    }

    function mostrarModalDialog(titulo, mensagem) {
        $("#modalTitle").text(titulo);
        $("#modalBody").text(mensagem);
        //$("#meuModal").modal("show"); FUNCIONAVA com jQuery + Bootstrap 4
        bootstrap.Modal.getOrCreateInstance(document.getElementById("modalDialog")).show(); // evita duplicação no dom
    }
</script>
</body>
</html>
